:root {
  --green: #00cd0a;
  --whitish: #f1f1f1;
  --grey: #cbcaca;
  --blueish: #2bc2d3;
  --greenish: #00dcb6;
  --white: #ffffff;
  --black: #313c3b;
  --massive-font-size: 40px;
  --big-font-size: 30px;
  --medium-font-size: 20px;
  --height-without-navbar: calc(100vh - 66.67px);
  --transparentbackground: rgb(255, 255, 255, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'calibri';
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
